@import "tailwindcss";
*{
    
    box-sizing: border-box;
}
body{
    margin:0;
    padding: 0;
    overscroll-behavior: none;
}
html{
    overscroll-behavior: none;
    
}
::-webkit-scrollbar{
    display: none;
}